@font-face {
  font-family: "Lobster" cursive;
  font-family: "Rufina-Regular", serief;
  font-style: normal;
  src: url(healphy/assets/font/Rufina/Rufina-Regular.ttf) format("ttf");
  font-weight: 400;
  font-display: swap;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.header {
  width: 100vw;
  height: 100px;

  display: flex;
  flex-direction: row;
}

.text {
  font-family: "Rufina-Regular", sans-serif;
  font-size: 108px;
  font-weight: 30;
  color: black;
  justify-self: center;

  justify-content: center;
  align-items: center;
}

.border {
  position: absolute;
  margin-left: 29%;
  margin-top: 3%;

  width: 350px;
  height: 150px;
  z-index: 2;
  border: 1px solid black;
}

.img {
  width: 300px;
  height: 200px;
  justify-self: flex-end;
}

.section {
  height: 800px;
  width: 60%;
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 1fr;
  align-content: space-between;
  justify-content: space-between;
}

.left {
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
  margin-left: 10px;
  width: max-content;
}
.right {
  grid-column: 3/4;
  grid-row: 1/2;

  /* width: 100%; */
  height: 800px;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: repeat(6, 100px);
  /* margin-top: 10px; */

  align-content: start;
  justify-items: start;
  column-gap: 10px;
  font-size: 40px;
  /* height: 200px; */
  /* width: 400px; */
  font-family: "Rufina", sans-serif;
  font-size: 50px;
}
.one {
  grid-column: 3/4;
  grid-row: 1/2;
}
.uno {
  grid-column: 1/3;
  grid-row: 2/3;
  width: max-content;
  justify-self: left;
}
.two {
  grid-column: 3/4;
  grid-row: 3/4;
}
.due {
  grid-column: 1/4;
  grid-row: 4/5;
  width: max-content;
}
.tre {
  grid-column: 3/4;
  grid-row: 5/6;
  width: max-content;
}
.quatro {
  grid-column: 1/4;
  grid-row: 6/7;
  width: max-content;
}
